@import "../../app-variables.scss";

.hero {
  height: calc(100vh - 50px);
  background-size: contain;
  background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 0.15)
    ),
    url("../images/hero-sandwich.jpg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  display: flex;
  .overlay {
    flex: 1;
    padding: 1em;

    .hero-text {
      color: black;
      margin-top: 20vh;
      margin-left: 10vw;
      .description-text {
        padding-top: 20px;
      }
      h1 {
        width: fit-content;
        font-size: 4em;
        margin: 0;
        position: relative;
      }
      h1:nth-of-type(2) {
        &::after {
          content: "";
          background-image: url("../images/pbc-underline.svg");
          background-size: 100% 100%;
          width: 120%;
          height: 40px;
          border-radius: 4px;
          position: absolute;
          bottom: -35px;
          left: -10%;
        }
      }
    }
    .hero-image-container {
      display: none;
      margin-left: 30px;
      width: 750px;
      height: 750px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
      .hero-image {
        margin: 0 auto;
        height: 100%;
      }
    }
  }
  .custom-shape-divider-bottom-1594258843 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
  }

  .custom-shape-divider-bottom-1594258843 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-bottom-1594258843 .shape-fill {
    fill: $secondary-color;
  }
}
