@import "../../app-variables.scss";

.hero {
  height: calc(100vh - 50px);
  background-size: contain;
  background: url("../images/pbc-hero.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  .overlay {
    backdrop-filter: blur(5px);
    flex: 1;
    padding: 1em;
    background-color: rgba($color: #fff, $alpha: 0.6);
    .hero-text {
      width: fit-content;
      color: black;
      margin-top: 40vh;
      margin-left: 10vw;
      h1 {
        font-size: 4em;
        margin: 0;
      }
      p {
        max-width: 620px;
      }
    }
    .hero-image {
    }
  }
}
