.image-band {
  display: flex;
  max-height: 420px;
  width: 100%;
  max-width: 1200px;
  * {
    box-sizing: border-box;
  }

  & > img {
    flex: 1;
    max-height: 500px;
    max-width: 500px;
  }
}
