@import "../../app-variables.scss";

.footer {
  background-color: $primary-color;

  .footer-content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .footer-content {
      flex: 1;
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      max-width: $content-width;
      padding-top: 60px;
      padding-bottom: 60px;
      .footer-column ~ .footer-column {
        margin-left: 50px;
      }
      .column-items {
        & > * {
          padding-top: 15px;
        }
      }
      .footer-column {
        flex: 1;
        padding-left: 20px;
        padding-right: 20px;
        .column-title {
          border-bottom: 1px solid black;
          margin: 0;
        }
        .location,
        .phone,
        .email {
          display: flex;
          svg {
            padding-right: 10px;
          }
        }
        .email,
        .phone {
          align-items: center;
        }
      }
    }
    .bottom-links {
      font-size: 16px;
      padding-bottom: 10px;
    }
  }
}
