@import "../../../app-variables.scss";

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary-color;
  & > h1 {
    margin: 10px;
  }
  .testimonials-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
}
